<div style="background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1413404531-how-not-waste-time.jpg); height: 1100px;">
  <div style="height: 100px; padding-top: 150px">
    <div style="background-color: rgba(255, 255, 255, 0.5); height: 150px; margin-left: 50px; margin-right: 50px; border-radius: 20px; display: flex">
      <img src="https://www.pngjoy.com/pngl/131/2663889_group-of-people-icon-avatar-group-icon-png.png" style="height: 120px; margin-left: 50px; margin-top: 10px;">
      <h1 style="margin-top: 40px; margin-left: 20px; font-size: 64px">Leave Management System</h1>
    </div>
  </div>
  <mat-card style="margin-top: 80px; margin-left: 50px; width: 500px;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field style="width: 100%">
        <mat-label>Username:</mat-label>
        <input matInput required formControlName="username" type="text" placeholder="Username">
        <mat-error *ngIf="(!loginForm.get('username').valid && loginForm.get('username').touched) || (!loginForm.get('username').valid && loginFormSubmitted)">
          Username is <strong>required</strong>
        </mat-error>      
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%">
        <mat-label>Password:</mat-label>
        <input matInput required formControlName="password" type="password">
        <mat-error *ngIf="(!loginForm.get('password').valid && loginForm.get('password').touched) || (!loginForm.get('password').valid && loginFormSubmitted)">
          Password is <strong>required</strong>
        </mat-error>      
      </mat-form-field>
      <br />
      <br />
      <div style="text-align: center">
        <button mat-raised-button color="primary" style="width: 100%; height: 50px; font-size: 18px;">Login</button>
        <br />
        <br />
        <p>Not yet a member?</p>
        <button mat-raised-button color="primary" style="width: 100%; height: 50px; font-size: 18px;">Sign up</button>
      </div>
    </form>
  </mat-card>
</div>