<mat-toolbar color="primary">
  <div style="display: flex;">
    <img src="https://www.pngjoy.com/pngl/131/2663889_group-of-people-icon-avatar-group-icon-png.png" style="height: 50px; margin-top: 10px;">
    <p>Leave Management System</p>
  </div>
  <div style="display: flex;">
    <p [matBadge]="badgeCount" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap=true [matMenuTriggerFor]="rootMenu" style="cursor: pointer">Menu</p>
    <p>Logout</p>
  </div>
</mat-toolbar>

<mat-menu #rootMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Leaves</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item (click)="setViewMode('leave_applications')">Leave Applications</button>
  <button mat-menu-item (click)="setViewMode('apply_leave')">Apply Leave</button>
  <button mat-menu-item (click)="setViewMode('leave_applications_status')">Leave Applications Status</button>
</mat-menu>

<ng-container *ngIf="viewMode == 'leave_applications'">
  <app-leave-applications></app-leave-applications>
</ng-container>

<ng-container *ngIf="viewMode == 'apply_leave'">
  <app-apply-leave></app-apply-leave>
</ng-container>

<ng-container *ngIf="viewMode == 'leave_applications_status'">
  <app-leave-applications-status></app-leave-applications-status>
</ng-container>
