button {
  margin: 10px;
}

mat-toolbar {
  justify-content: space-between;
}

p{
  margin-left: 10px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: lightblue;
  width: 200px;
}