<mat-toolbar color="primary">
  <div style="display: flex;">
    <img src="https://www.pngjoy.com/pngl/131/2663889_group-of-people-icon-avatar-group-icon-png.png" style="height: 50px; margin-top: 10px;">
    <p style="font-weight: bold;">Leave Management System</p>
  </div>
  <div style="display: flex; width: 80px; justify-content: space-between">
    <mat-icon style="margin-top: 30px; font-size: 80px;" [matMenuTriggerFor]="rootMenu" style="cursor: pointer">list</mat-icon>
    <mat-icon style="margin-top: 30px; font-size: 80px;" style="cursor: pointer" (click)="onLogOut()">exit_to_app</mat-icon>

    <!-- <p [matBadge]="badgeCount" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap=true [matMenuTriggerFor]="rootMenu" style="cursor: pointer">Menu</p> -->
    <!-- <p style="cursor: pointer" (click)="onLogOut()">Logout</p> -->
  </div>
</mat-toolbar>

<mat-menu #rootMenu="matMenu">
  <div style="display: flex">
    <mat-icon style="margin-top: 10px; margin-left: 20px;" color="primary">supervisor_account</mat-icon>
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Leaves</button>
  </div>
</mat-menu>

<mat-menu #subMenu="matMenu">
  <div style="display: flex">
    <mat-icon style="margin-top: 10px; margin-left: 20px;" color="primary">home</mat-icon>
    <button mat-menu-item (click)="setViewMode('home')">Home</button>
  </div>

  <div style="display: flex">
    <mat-icon style="margin-top: 10px; margin-left: 20px;" color="primary" [style.opacity]="adminIsLoggedIn === false ? '0.5' : '1'">list_alt</mat-icon>
    <button mat-menu-item (click)="setViewMode('leave_applications')" [disabled]="!adminIsLoggedIn">Leave Applications</button>
  </div>
  <div style="display: flex">
    <mat-icon style="margin-top: 10px; margin-left: 20px;" color="primary">keyboard_backspace</mat-icon>
    <button mat-menu-item (click)="setViewMode('apply_leave')">Apply Leave</button>
  </div>
  <div style="display: flex">
    <mat-icon style="margin-top: 10px; margin-left: 20px;" color="primary">how_to_reg</mat-icon>
    <button mat-menu-item (click)="setViewMode('leave_applications_status')">Leave Applications Status</button>
  </div>
</mat-menu>

<ng-container *ngIf="viewMode == 'home'">
  <app-home></app-home>
</ng-container>


<ng-container *ngIf="viewMode == 'leave_applications'">
  <app-leave-applications></app-leave-applications>
</ng-container>

<ng-container *ngIf="viewMode == 'apply_leave'">
  <app-apply-leave></app-apply-leave>
</ng-container>

<ng-container *ngIf="viewMode == 'leave_applications_status'">
  <app-leave-applications-status></app-leave-applications-status>
</ng-container>
