<div style="background-image: url(https://www.augusta.edu/hr/university/university_benefits/images/leave-management-process-800x400.png); height: 1000px; background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div style="padding-top: 100px; text-align: center">
    <h1 style="letter-spacing: 10px; font-size: 64px; color: black;">WELCOME</h1>
    <div style="width: 800px; margin-left: 26%;">
      <h3 style="font-style: italic; line-height: 1.6;">This is FS Bench Leave Management System. You can do the following in the Leave Management System: View the Leave Applications Page (if you are an Administrator), Apply Leave, and check status of the Leave in Leave Applications Status.</h3>
    </div>
  </div>
</div>